:root {
    --ui-height: 60px;
}

body {
    background-color: black !important;
}

.stream {
    margin: auto;
    position: fixed;
    right: 0;
    left: 0;
    object-fit: cover;
    height: calc(100% - var(--ui-height));
}

#ui-container {
    background: white;
    height: var(--ui-height);
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 5px;
    box-shadow: 0px 0px 6px inset;
}

.toolbar-icon {
    font-size: 40px;
    transform: translate(-50%, -50%);
    position: fixed;
}

.toolbar-icon:hover {
    color:rgb(110, 110, 110);
}

.toolbar-icon:active {
    color:rgb(110, 110, 110);
}

.toolbar {
    position: relative;
    width: 40px;
    height: 50px;
    --bs-btn-border-width: 0px !important;
}

.btn:active {
    background-color: rgb(220, 220, 220) !important;   
    border-color: transparent !important;
}

.dropdown-expand-btns, .dropup-btn {
    float: right;
    right: 10px;
}

.dropup-btn {
    bottom: 5px;
    position: fixed;
}

.bi-plus {
    font-size: 45px;
}

.expand {
    color: white;
    font-size: 40px;
    transform: translate(-50%, -50%);
    position: fixed;
}

.expand:hover {
    color: rgb(200, 200, 200) !important;
}

.expand:active {
    color: rgb(200, 200, 200) !important;
}

.dark-active-bg:active {
    background-color: rgb(48, 48, 48) !important;
}

.bottom {
    bottom: -30px;
}

#number {
    display: inline-block;
    font-size: 32px;
    vertical-align: top;
    min-width: 32px;
}

#title {
    font-size: 30px;
    max-width: calc(50% - 190px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 75px;
    position: absolute;
}

#center-controls {
    text-align: center;
    width: 100%;
    position: absolute;
}

.fi {
    font-size: 50px;
    float: left;
    border-radius: 5px 5px 5px 5px;
}

::placeholder {
    outline-width: 0 !important;
  }

.dropdown-item {
    cursor: pointer;
}

.admin-only { 
    color: #FF0000;
    font-style: italic;
    font-size: 10px;
 }

 #addError {
    color: rgb(255, 0, 0);
    text-align: center;
 }