[submodule "src/OpenCams"]
	path = src/OpenCams
	url = https://github.com/iiEthan/OpenCams
[submodule "src/Visualizing-America"]
	path = src/Visualizing-America
	url = https://github.com/iiEthan/Visualizing-America