[submodule "public/OpenCams"]
	path = public/OpenCams
	url = https://github.com/iiEthan/OpenCams
[submodule "public/Visualizing-America"]
	path = public/Visualizing-America
	url = https://github.com/iiEthan/Visualizing-America