body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    background: linear-gradient(to bottom, #0a0e14, #243447, #3d5772);
}

#tsparticles {
    position: relative;
    height: 80vh;
}

.title-card {
    /* Initially, the element has 0% opacity and is hidden off the bottom of the screen */
    opacity: 0;
    transform: translate(-50%, 50%);
    
    /* Use a transition to smoothly animate the element's opacity and position when it becomes visible */
    transition: opacity .75s ease-out, transform .75s ease-out;
}

/* When the website opens, add a class to the element to make it visible */
.visible {
    opacity: 1;
    transform: translate(-50%, -50%);
}

#header {
    position: relative;
    min-height: 80vh;
}

.title-card {
    color: white;
    top: 40%;
    pointer-events: none;
    position: absolute;
    left: 50%;
    font-size: 75px;
}

.center {
    position: absolute;
    width: 100%;
    text-align: center;
}